fitparse>=1.1.0
choochoo>=0.30.1
django_heroku>=0.3.1
Django>=3.0.5
python_tcxparser>=1.1.0
cryptography>=2.9
bokeh>=2.0.1
stravalib>=0.10.2
tensorflow>=2.1.0
django_countries>=6.1.2
django_storages>=1.9.1
djangorestframework>=3.11.0
